<html>
    <head>
        <title>Template example</title>
        <meta charset="utf-8"/>
        <style>
            body {
                font-family: 'Sun-ExtA', 'Sun-ExtB', Arial, Helvetica, sans-serif;
            }
            .page1 {
                font-size: 40px;
                color: red;
                position: fixed;
                right: 0px;
            }
            .page2 {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 20px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <include src="./1.html" />
        <include src="./2.html" />
        <include src="./3.html" />
        <include src="./4.html" />
    </body>
</html>
